* {
  margin: 0;
  padding: 0;
 
  color: white;
}

body {
  font-family: 'montseratt', sans-serif;
}

.app {
  background-image: url('./assets/cold-bg.jpg');
  background-size:cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('./assets/warm-bg.jpg');
}

main{
  height: 100vh;
}
.general{
  display: flex;
  justify-content: last baseline;
  align-items: flex-end;
}
 .search-bar{
  width: 70%;
  color: rgb(239, 248, 241);
  font-size: 30px;
  background-color:rgb(255, 251, 251,0);
  }
  .hline { width:70%; height:2px; background: rgb(158, 148, 148) }
 
  .temp{
    height:100vh;
    width: 700px;
    background-color: rgba(29, 31, 30, 0.5);
    text-align: center;  
    display: flex;
    font-size:1rem;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-direction: column;
  }
  .weather{
    text-align: center;
    font-size: 4rem;
    color: rgb(239, 236, 247);
  }
  .temp-d{
    height:200px;
    width: 1200px;
   
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    font-size:1rem;
    align-items: flex-start;
    justify-content: space-around;
   

  flex-direction: row;
  }
  .f{
    display: flex;
    flex-direction: column;
  }
.f p{
  font-size: 4rem;
  padding-bottom:3rem;
}
.f span{
  font-size: 2rem;
}
.location{
  width: 700px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
 
  